<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<!-- Bootstrap CSS -->
 		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
		<title>best-songs-of-the-year</title>
	</head>
	<style>
		.app-container{
			width: 75vh;
			margin-top: 100px;
			margin-bottom: 100px;
			justify-content: center;
			align-items: center;
		}

		.main-text{
			width: 500px;
			height: 200px;
		}
	</style>
	<body>
		<div class="container-fluid app-container border border-black">
			<header th:replace="frags :: header"></header>
			<main>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 p-5">
							<div class="row justify-content-center align-items-center">
								<div class="col-12 text-center my-3">
									<h3 class="mt-5" th:text="${song.title}"></h3>
								</div>
								<div class="col-12 text-center my-3">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac felis vel quam iaculis bibendum. Aliquam ac justo a libero tristique tincidunt. Fusce facilisis, elit eu feugiat ultricies, arcu neque fermentum quam, in consequat arcu arcu vel orci. Sed ac augue id quam congue pharetra vel at arcu. Curabitur vel libero ac nulla venenatis feugiat. Vivamus cursus odio sed justo tempus, nec tincidunt turpis bibendum. Vestibulum ut mi id lacus lacinia venenatis. Aenean dapibus consectetur orci eu ultrices. Suspendisse vel metus sit amet odio consectetur eleifend. Quisque vulputate, odio eu euismod congue, velit velit volutpat lectus, vel scelerisque ex urna vel arcu. Etiam vel velit vel erat interdum fringilla eu vitae lacus.</p>
								</div>
								<div class="col-12 text-center mt-5">
									<a th:replace="frags :: home"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<!-- Bootstrap Bundle with Popper -->
 		<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>